  .camera-panel {
    position: relative; /* makes it the anchor for anything inside it that uses absolute positioning */
    width: 50%;
    height: 100vh;
    overflow: hidden;
    background: #000;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }

  #videoElement {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scaleX(-1); /* mirror to match video*/
    display: none; 
  }

  #outputCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scaleX(-1); /* mirror to match video*/
    z-index: 1; /*sits on top*/
  }