:root {
    --yellow-colour: #eaf0ce;
    --light: #C0C5C1;
    --med: #7D8491;
    --dark: #574B60;
    --darkest: #3F334D; 
}
 
  
  body {
    font-family: "Kulim Park", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--yellow-colour);
  }

  .title {
  float: left;
  font-family: "Kulim Park", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #3F334D;
  display: flex;
  font-size: 50px;
}

.back-button {
   float: left;
    display: block;
    color: var(--darkest);
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    font-size: 20;
    border: 2px solid black;
    border-radius: 20px;
}

  .topnav{
    overflow: hidden;
    background-color: var(--yellow-colour);
  }

  .topnav a{
    float: left;
    display: block;
    color: var(--dark);
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    font-size: 20;
    border: 2px solid black;
    border-radius: 20px;
  }

  .topnav a:hover{
    background-color: #ddd;
    color: black;
    font-weight: 700;
  }

  .topnav img{
    float: right;
    width: 20px;
    height: 20px;
  } 
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: 8px;
    font-size: 20;
    border: 2px solid black;
    border-radius: 20px;
  }

 

  
  
  .camera-panel {
    position: relative; /* makes it the anchor for anything inside it that uses absolute positioning */
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #000;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
  }

  #videoElement {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scaleX(-1); /* mirror to match video*/
    display: none; 
  }

  #outputCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scaleX(-1); /* mirror to match video*/
    z-index: 1; /*sits on top*/
  }

  .knee-display {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;

  }